@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@mixin tb {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1280px) {
    --viewport: 1200;
  }

  @media (max-width: 768px) {
    --viewport: 768;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

tml {
  scroll-behavior: initial;
  width: 100%;
  font-size: 0.83vw;
  @include sp() {
    font-size: 16px;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  color: #111;
  min-height: 100%;
}

header {
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.1);
}

.slider {
  height: 100%;
  div {
    height: 100%;
    .slide {
      display: flex !important;
      justify-content: end;
      img {
        height: 100%;
        width: auto;
        @include sp() {
          width: 744px;
          max-width: inherit;
        }
      }
    }
  }
}

.inner {
  width: 1200px;
  margin: auto;
  @include tb() {
    width: 80%;
  }
  @include sp() {
    width: 100%;
    padding: 0 20px;
  }
}

.about-bg {
  background-image: url(../img/top/about-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-button {
  display: flex;
  width: 295px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.2);
  color: #00489d;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.parallax {
  background-image: url(../img/top/parallax.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  @include sp() {
    height: 200px;
  }
}

.qa {
  background-image: url(../img/top/union.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  .inner {
    position: relative;
    .tracking__girl {
      position: absolute;
      left: -290px;
      bottom: -380px;
      @include tb() {
        left: 0;
        width: 101px;
        bottom: -147px;
      }
    }
    .tracking__man {
      position: absolute;
      right: -290px;
      bottom: -360px;
      @include tb() {
        right: 0;
        width: 91px;
        bottom: -165px;
      }
    }
  }
}

.question-wrap {
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.1);
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  .question {
    padding: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    background-color: white;
    @include sp() {
      padding: 30px 20px;
      align-items: center;
      column-gap: 20px;
    }
  }
  .answer {
    position: absolute;
    top: -20px;
    opacity: 0;
    visibility: hidden;
    padding: 50px;

    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    z-index: 0;
    @include sp() {
      padding: 30px 20px;
      align-items: center;
      column-gap: 20px;
    }
  }
}

.contact-bg {
  background-image: url(../img/global/contact-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  background-image: url(../img/global/contact.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 77px 0;
  border-radius: 10px;
}

.about__page {
  section {
    height: 200vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    h2 {
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 72px; /* 150% */
      @include tb() {
        font-size: 24px;
        line-height: 2;
      }
    }
    p {
      font-family: "Hiragino Kaku Gothic ProN";
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 42px; /* 233.333% */
      max-width: 800px;
      @include tb() {
        font-size: 14px;
        line-height: 2;
      }
      @include sp() {
        font-size: 12px;
        line-height: 2;
      }
    }
  }
}

.about {
  &__top-bg {
    background-image: url(../img/about/about-top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0;
  }
  &__first-bg {
    background-image: url(../img/about/first-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__second-bg {
    background-image: url(../img/about/second-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__third-bg {
    background-image: url(../img/about/third-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.inner {
  width: 1200px;
  margin: auto;
  @include tb() {
    width: 80%;
  }
  @include sp() {
    width: 100%;
    padding: 0 20px;
  }
}

.shadow {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.2);
}

.union-bg {
  background-image: url(../img/about/union.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
  tr {
    &:nth-of-type(2n-1) {
      td {
        background-color: #f5f5f5;
      }
    }
  }
  th {
    background: #00489d;
    color: white;
  }
  td {
  }
  th,
  td {
    font-weight: 600;
    padding: 14px 20px;
    vertical-align: middle;
    line-height: 2;
    font-size: 14px;
    border: 1px solid #e5e5e5;
  }
}

.page__blog {
  background-image: url(../img/global/page-blog-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-blog {
  .slick-slide {
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.1);
    width: 277px !important;
  }
}

.blog__list {
  li {
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 12, 9, 0.1);
  }
}

.blog__image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  @include sp() {
    grid-template-columns: auto;
    gap: 20px;
  }
  img {
    width: 100%;
  }
}

.member__image {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  @include sp() {
    grid-template-columns: auto auto;
    gap: 20px;
  }
  img {
    width: 100%;
  }
}

.blog__table {
  margin-top: 80px;
  @include sp() {
    margin-top: 50px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 20px;
      border: 1px solid #e5e5e5;
      font-weight: 600;
      color: #333;
      line-height: 1;
    }
  }
}

.page__contact {
  background-image: url(../img/contact/page-contact-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__table {
  width: 100%;
  th,
  td {
    display: block;
    width: 100%;
  }
  th {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    color: #333;
    justify-content: space-between;
    .require {
      display: flex;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 50px;
      background: #00489d;
      color: white;
      font-size: 12px;
    }
  }
  input,
  textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #b3b3b3;
    padding: 11px;
    background: #fff;
  }
}

footer {
  ul {
    display: flex;
    width: 760px;
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      #00489d;
  }
}

.week {
  display: flex;
  column-gap: 50px;
  margin-top: 50px;
  @include tb() {
    display: grid;
    max-width: 500px;
    margin: 20px auto 0;
  }
  &__on {
    display: inline-flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #fff;
    color: #00489d;
    text-align: center;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    @include tb() {
      width: 100%;
      margin-top: 30px;
    }
  }
  &__at {
    margin-top: 10px;
    color: #fff;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 2; /* 200% */
    @include tb() {
      text-align: center;
    }
  }
}

.sp-nav {
  position: absolute;
  background-color: #fff;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  ul {
    li {
      border-bottom: 1px solid #f5f5f5;
      a {
        padding: 30px 20px;
        display: block;
      }
    }
  }
}

.humburgermenu {
  background-color: #00489d;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    width: 30px;
    height: 30px;
    display: grid;
    align-items: center;
    span {
      display: inline-block;
      width: 100%;
      height: 1px;
      border: 1px solid white;
    }
  }
}
